{% include fb_js.html %}
{% include amplitude_js.html %}

<!-- Link JS -->
<script  type="text/javascript" src="/assets/js/link_v2.js"></script>

<!-- Link actions -->
<script>
    const query_params = new URLSearchParams(window.location.search);
    const source = query_params.get('s') || 'other';
    const tag = query_params.get('t');
    const failed = query_params.get('f') || 0;
    const campaign = '{{ include.campaign }}',
          spotify_track_id = '{{ include.spotify_track_id }}',
          spotify_playlist_id = '{{ include.spotify_playlist_id }}',
          spotify_artist_id = '{{ include.spotify_artist_id }}',
          spotify_si = '{{ include.spotify_si }}',
          spotify_context = '{{ include.spotify_context | default: "none" }}',
          ytmusic_track_id = '{{ include.ytmusic_track_id }}',
          ytmusic_list_id = '{{ include.ytmusic_list_id | default: "none" }}',
          ytmusic_channel_id = '{{ include.ytmusic_channel_id }}',
          youtube_video_id = '{{ include.youtube_video_id }}',
          youtube_list_id = '{{ include.youtube_list_id | default: "none" }}',
          youtube_channel_id = '{{ include.youtube_channel_id }}',
          apple_link = '{{ include.apple_link }}',
          soundcloud_track_id = '{{ include.soundcloud_track_id }}',
          soundcloud_artist_id = '{{ include.soundcloud_artist_id }}';

    base = '{{ page.url | absolute_url }}';
    medium = '{{ include.medium }}';
    event_prop = {
        source: source,
        tag: tag,
        campaign: campaign,
        medium: medium,
        device_kind: deviceKind(),
        failed: failed
    };
    environment = document.location.host.includes("{{ site.host }}") ? "production" : "devel";

  {% if include.spotify_track_id %}
    spotifyLinkSet(spotify_track_id, spotify_si, spotify_context);
  {% endif %}
  {% if include.spotify_playlist_id %}
    spotifyPlaylistLinkSet(spotify_playlist_id, spotify_si);
  {% endif %}
  {% if include.spotify_artist_id %}
    spotifyArtistLinkSet(spotify_artist_id, spotify_si);
  {% endif %}
  {% if include.ytmusic_track_id %}
    ytMusicLinkSet(ytmusic_track_id, ytmusic_list_id);
  {% endif %}
  {% if include.ytmusic_channel_id %}
    ytMusicChannelSet(ytmusic_channel_id);
  {% endif %}
  {% if include.youtube_video_id %}
    youTubeLinkSet(youtube_video_id, youtube_list_id);
  {% endif %}
  {% if include.youtube_channel_id %}
    youTubeChannelSet(youtube_channel_id);
  {% endif %}
  {% if include.apple_link %}
    appleLinkSet(apple_link);
  {% endif %}
  {% if include.soundcloud_track_id %}
    soundcloudLinkSet(soundcloud_track_id);
  {% endif %}
  {% if include.soundcloud_artist_id %}
    soundcloudArtistSet(soundcloud_artist_id);
  {% endif %}

    if (failed == 0) {
        amplitudeEvent('PageView', event_prop);

        {% if include.deep_link == 'yes' %}
          if (isMobile.any()) {
            {% if include.medium == 'spotify' %}
              {% if include.spotify_track_id %}
                openSpotifyTrack(spotify_track_id, spotify_si, spotify_context);
              {% elsif include.spotify_playlist_id %}
                openSpotifyPlaylist(spotify_playlist_id, spotify_si);
              {% elsif include.spotify_artist_id %}
                openSpotifyArtist(spotify_artist_id, spotify_si);
              {% endif %}
            {% endif %}

            {% if include.medium == 'ytmusic' %}
              {% if include.ytmusic_track_id %}
                openYouTubeMusic(ytmusic_track_id, ytmusic_list_id);
              {% elsif include.ytmusic_channel_id %}
                openYouTubeMusicChannel(ytmusic_channel_id);
              {% endif %}
            {% endif %}

            {% if include.medium == 'youtube' %}
              {% if include.youtube_video_id %}
                openYouTubeVideo(youtube_video_id, youtube_list_id);
              {% elsif include.youtube_channel_id %}
                openYouTubeChannel(youtube_channel_id);
              {% endif %}
            {% endif %}

            {% if include.medium == 'soundcloud' %}
              {% if include.soundcloud_track_id %}
                openSoundcloudTrack(soundcloud_track_id);
              {% else if include.soundcloud_artist_id %}
                openSoundcloudArtist(soundcloud_artist_id);
              {% endif %}
            {% endif %}

            // 2. Track that the app was not opened on iOS devices
            // if (isMobile.iOS()) {
            //     setTimeout(() => {
            //       if (typeof amplitude !== 'undefined') amplitude.track('AppNotInstalled', event_prop);
            //     }, 5000);
            // }
          }
        {% endif %}
    } else {
        amplitudeEvent('AppNotInstalled', event_prop);
    }

</script>
